@model CTRL.Portal.API.Contracts.AccountInviteEmailContract

<p>@Model.Recipient,</p>
<p>Account invite for @Model.AccountName</p>
<p>Sent by @Model.SenderUserName</p>
<p>With code @Model.AcceptInviteCode</p>